.contact-container {
  background-color: white;
  padding: 200px; /* Adjust padding as needed */
  position: relative; /* Ensure relative positioning */
  z-index: 1;
}

.contact-item {
  display: flex;
  align-items: start;
  margin-bottom: 10px; /* Add margin bottom */
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}
